<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Contacts List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- datatables css -->

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

</head>
<body>
    <div class="jumbotron"><h1> Contacts List </h1>
      <p>Users in the system</p>
    </div>

<div class="container">
    <div class="user-listing">
        <!-- <table class="table table-striped"> -->
        <table id="contacts_table" class="display" cellspacing="0" width="100%">

            <thead>
                    <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Date of Birth</th>
                    <th>Location</th>
                    <th>Last Update</th>
                    <th>Action</th>
                    </tr>
            </thead>
            <tbody>
        {% for contact in contacts %}
                <tr>
                <td>{{contact.id}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.email_id}}</td>
                <td>{{contact.age}}</td>
                <td>{{contact.dob}}</td>
                <td>{{contact.location|linebreaks}}</td>
                <td>{{contact.last_dml_time}}</td>
                <td>Edit</td>
                </tr>
        {% endfor %}

            </tbody>
        </table>
    </div> <!-- user-listing -->


      <div class="button-group " >
            <label class="col-md-1 control-label"></label>
            <div class="col-md-2">
                    <button id = "cancel_btn" type="submit" onclick="location.href='http://127.0.0.1:8000/modify';" class="btn btn-info" >Add Users  <span class="glyphicon glyphicon-plus"></span></button>
            </div>

</div> <!-- container -->
</div><!-- bootstrap -->
       <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

      <!-- datatables -->
<script src ="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>



<!-- datatables script -->

<script type="text/javascript">

    $(document).ready(function() {

// hiding the id and last_dml_time columns

    $('#contacts_table tr > *:nth-child(1)').hide();
    $('#contacts_table tr > *:nth-child(7)').hide();

// hiding the show x entries, search entries  and other columns in datatable

    $('#contacts_table').dataTable({
                "pageLength" : 5
                ,"bPagniation" : false
                ,"bLengthChange": false
                ,"bFilter": false
                ,"bInfo": false
                ,"order" : [[6,"desc"]]

    });


} );



</script>

</body>
</html>
