<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Contacts List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- datatables css -->

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

</head>
<body>
    <div class="jumbotron"><h1> Contacts List </h1>
      <p>Users in the system</p>
    </div>

<div class="container">
    <div class="user-listing">
        <!-- <table class="table table-striped"> -->
        <table id="contacts_table" class="display" cellspacing="0" width="100%">

            <thead>
                    <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Date of Birth</th>
                    <th>Location</th>
                    <th>Action</th>
                    </tr>
            </thead>
            <tbody>
        {% for contact in contacts %}
                <tr>
                <td>{{contact.name}}</td>
                <td>{{contact.email_id}}</td>
                <td>{{contact.age}}</td>
                <td>{{contact.dob}}</td>
                <td>{{contact.location|linebreaks}}</td>
                <td>Edit</td>
                </tr>
        {% endfor %}

            </tbody>
        </table>
    </div> <!-- user-listing -->
</div> <!-- container -->
<div class="well "></div>
<!-- bootstrap -->
       <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

      <!-- datatables -->
<script src ="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>



<!-- datatables script -->

<script type="text/javascript">

    $(document).ready(function() {
    $('#contacts_table').DataTable();
} );

</script>

</body>
</html>
