<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>User Listing Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
    .user-listing{
        margin: 20px;
    }
</style>
</head>
<body>

<body>
<div class="jumbotron"><h1>User Listing</h1></div>

<div class="container">
    <div class="user-listing">
        <table class="table table-striped">
            <thead>
                    <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Date of Birth</th>
                    <th>Location</th>
                    <th>Action</th>
                    </tr>
            </thead>
            <tbody>
        {% for contact in contacts %}
                <tr>
                <td>{{contact.name}}</td>
                <td>{{contact.email_id}}</td>
                <td>{{contact.age}}</td>
                <td>{{contact.dob}}</td>
                <td>{{contact.location|linebreaks}}</td>
                <td>Edit</td>
                </tr>
        {% endfor %}

            </tbody>
        </table>
    </div> <!-- user-listing -->
</div> <!-- container -->
</body>
</html>
