  <!DOCTYPE html>
 <html>
     <head>
         <meta charset="utf-8">

         <title>Contacts Form</title>
         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

         <!-- Optional theme -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">



      <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">


  </head>

  <body>
    <div class="jumbotron"><h1> Contacts Form </h1>
      <p> Please fill in valid details</p>
    </div>

    <div class="container">

      <form class="well form-horizontal" action="/create_contact/" method="post"  id="post-form">
                <fieldset>

             <!-- Form Name -->
             <legend>Contact Details</legend>

            <!-- First Name input-->

            <div class="form-group">
                  <label class="col-md-4 control-label">First Name</label>
                  <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                              <input  name="first_name" placeholder="First Name" class="form-control"  type="text" required="true">
                        </div>
                  </div>
            </div>

      <!-- Last Name input-->

            <div class="form-group">
                  <label class="col-md-4 control-label" >Last Name</label>
                  <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                              <input name="last_name" placeholder="Last Name" class="form-control"  type="text" required="true">
                        </div>
                  </div>
            </div>

      <!-- E-Mail input-->

       <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                        <input name="email" placeholder="E-Mail Address" class="form-control"  type="text" required="true">
                  </div>
            </div>
      </div>


      <!-- phone input-->

      <div class="form-group">
            <label class="col-md-4 control-label">Mobile Number</label>
            <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                        <input name="phone" placeholder="10-digit mobile number" maxlength = "10" class="form-control" type="text" required="true">
                  </div>
            </div>
      </div>


      <!-- Age input-->

      <div class="form-group">
            <label class="col-md-4 control-label">Age</label>
            <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                        <input name="age" placeholder="Age" class="form-control" type="text" required="true">
                  </div>
            </div>
      </div>


      <!-- DoB input-->
      <div class="form-group">
             <label class="col-md-4 control-label">DoB</label>
            <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                        <input name="DoB" placeholder = "Click to add date"  required = "true" type="text" class="form-control" data-provide="datepicker" >
                <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> -->
                  </div>
            </div>
      </div>


      <!-- Location input-->
      <div class="form-group">
            <label class="col-md-4 control-label">Location</label>
            <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                        <input name="location" placeholder = "Type in your location"  class="form-control" type="text"  required = "true" id="location">
                        <!-- <span class="input-group-addon add-on"><span class="glyphicon glyphicon-map-marker"></span></span> -->
                  </div>
            </div>
      </div>

    </fieldset>
      </form>
      </div><!-- /.container -->

<!-- Button -->

      <div class="button-group " >
            <label class="col-md-4 control-label"></label>
            <div class="col-md-2">
                    <button id = "cancel_btn" type="submit" onclick="location.href='http://127.0.0.1:8000/';" class="btn btn-danger" >Cancel <span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="col-md-2">
                    <button id = "submit_btn" type="submit" class="btn btn-success">Submit <span class="glyphicon glyphicon-ok"></span></button>
            </div>
      </div>

<div id="results" >
        <div class="col-md-6">
    <div><p>Result</p></div>
    </div>
    </div> <!-- errors go here -->


<!-- jquery -->
       <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- ajax -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- datepicker -->
      <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<!-- google autocomplete places -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>

<!-- Start jQuery code -->
    <script type="text/javascript">


// autocompleting location using google maps api
//output undefined
                        google.maps.event.addDomListener(window, 'load', function () {
                        var places = new google.maps.places.Autocomplete(document.getElementById('location'));
                        google.maps.event.addListener(places, 'place_changed', function () {
                                    var place = places.getPlace();
                                    var address = place.formatted_address;
                              return address;
            });
        });

      // console.log(loc);

    $(document).ready(function() {

        $("#post-form input[name=DoB]").datepicker(
                                                        { dateFormat: 'dd/mm/yy' }
                                                        );


        $("#submit_btn").click(function() {
        var proceed = true;

        //loop through each field and change color to red for invalid fields
        $("#post-form input[required=true], #post-form textarea[required=true]").each(function(){
            $(this).css('border-color','');
            console.log(this);
            if(!$.trim($(this).val())){ //if this field is empty
                $(this).css('border-color','red'); //change border color to red
                proceed = false; //set do not proceed flag
            }
            //check invalid email
            var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            console.log($(this).val());
            if($(this).attr("name")=="email"
               && !email_reg.test($.trim($(this).val())))
            {
                $(this).css('border-color','red'); //change border color to red
                alert('Email ID vaidation failed');
                proceed = false; //set do not proceed flag
            }

                        //check for numeric values
             if(
                ($(this).attr("name")=="age" || $(this).attr("name")=="phone")
                && isNaN($.trim($(this).val())))
            {
                $(this).css('border-color','red'); //change border color to red
                alert('Non-numeric value in numeric fields');
                proceed = false; //set do not proceed flag
            }

                        //check for 10 digits in mobile number
             if(
                ($(this).attr("name")=="phone")
                &&($.trim($(this).val())).length != 10)
            {
                $(this).css('border-color','red'); //change border color to red
                alert('Mobile number vaidation failed');
                proceed = false; //set do not proceed flag
            }
        });

        console.log(proceed);

        if(proceed) {//everything looks good! proceed...
            // alert("success!");
            console.log ("success!");

            // extract date from input

             var mydate = ($("#post-form input[name=DoB]").datepicker({ dateFormat: 'dd/mm/yy' }).val());
            console.log(mydate);

            //extract location from object


            var myloc = $('input[name=location]').val();
            console.log(myloc);

            // creating form_data
            var form_data = {
                'name'     : $('input[name=first_name]').val().concat($('input[name=last_name]').val()),
                'user_email'    : $('input[name=email]').val(),
                'phone'  : $('input[name=phone]').val(),
                'age'  : $('input[name=age]').val()
                ,'DoB'       : mydate
                ,'location'       : myloc
              };

              console.log(form_data);
              create_contact();
        }

        // AJAX for posting
    function create_contact() {
        console.log("create contacts is working!") // sanity check
        console.log($('input[name=first_name]').val().concat($('input[name=last_name]').val()));

        $.ajax({
          url :"/create_contact/",//the endpoint
          type: "POST",
          data : {
                first_name: $('input[name=first_name]').val()
                ,last_name: $('input[name=last_name]').val()
                ,user_email    : $('input[name=email]').val()
                ,phone  : $('input[name=phone]').val()
                ,age  : $('input[name=age]').val()
                ,DoB       : mydate
                ,location       : myloc
              },
          success : function(json){
            $("#post-form input[required=true]").val('');
            console.log('success logging');
            window.location.replace("http://127.0.0.1:8000");
              }
            ,error :function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
        }); //ajax end
    }; //func create_contact


    //         //Ajax post data to server
    //         $.post('contact_me.php', post_data, function(response){
    //             if(response.type == 'error'){ //load json data from server and output message
    //                 output = '<div class="error">'+response.text+'</div>';
    //             }else{
    //                 output = '<div class="success">'+response.text+'</div>';
    //                 //reset values in all input fields
    //                 $("#contact_form  input[required=true], #contact_form textarea[required=true]").val('');
    //                 $("#contact_form #contact_body").slideUp(); //hide form after success
    //             }
    //             $("#contact_form #contact_results").hide().html(output).slideDown();
    //         }, 'json');
    //     }
    // });

    // //reset previously set border colors and hide all message on .keyup()
    // $("#contact_form  input[required=true], #contact_form textarea[required=true]").keyup(function() {
    //     $(this).css('border-color','');
    //     $("#result").slideUp();
    // });

});
});
    </script>
</body>

 </html>
